.wc{
    text-align: center;
    font-size: 25pt;
    padding-top: 20px;
    font-weight: 200;
}

.upper{
    width: 87vw;
    /* background-color: black; */
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card{
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle{
    width: 100%;
    height: 10%;
    padding-left: 30px;
    font-size: 15pt;
    font-weight: 200;
}

.cardArea{
    width: 100%;
    height: 90%;
}