.wrapper{
    height: calc(100vh - 80px) !important;
}

.topSection{
    height: calc(100vh - 80px) !important;
    width: 20vw;
    position: fixed;
    right: 0;
    top: 80px;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    z-index: 10000;
    background-color: white;
}

.topSection .title{
    font-size: 20pt;
    font-weight: 200;
    text-align: center;
    padding: 20px 50px 20px 80px;
}

.topSection img{
    width: 80%;
    margin-left: 10%;
}

.topSection .subtitle{
    font-size: 15pt;
    font-weight: 200;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 20px 50px 20px 80px; */
}

.topSection .a{
    font-size: 15pt;
    font-weight: 200;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    text-align: center;
    cursor: pointer;
    color: blue;
}