
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    /* font-family: 'Urbanist', sans-serif; */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    /* text-transform:uppercase; */
    width:100%;
    overflow-x: hidden;
}

.wel{
    font-size: 20pt;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.profilePicture{
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin: auto;
}

.namesur{
    font-size: 20pt;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app {
    position:absolute;             /* position in the center of the screen */
    left:0;
    top:0;
    height: 100vh;                   /* text area height */
    width:94vw;                   /* text area width */
}

.bottombar{
    background-color:white;
    bottom:0px;
    height:7vh;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    position:fixed;
    width:100%;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.perizie{
    width: 100%;
    margin-top: 20px;
    margin-right: 10%;
}

.title{
    text-align: right;
    font-size: 15pt;
    color: gray;
    margin-right: 5%;
}

.page{
    padding-top: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
}

.hidden{
    display:none;
}

space{
    height: 10vh;
    width: 100vw;
}

.section{
    width: calc(90% - 40px);
    line-height: 30px;
    border-bottom: 1px solid black;
    color: black;
    font-size: 13pt;
    padding-left: 40px;
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section arrow{
    font-size: 20pt;
    text-align: right;
    font-weight: 300;
    padding-right: 20px;
}

.card{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    margin-left: 5% !important;
    margin-top: 20px;
    padding: 10px;
    width: calc(90%-20px);
    margin-right: 5% !important;
}

.cardTitle{
    font-size: 16pt;
    margin-bottom: 10px;
    margin-top: 0;
    color: black;
    text-align: left;
}

.home{
    background-image: url(../img/homeselected.svg);
    width: 5vh;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile{
    background-image: url(../img/usernotselected.svg);
    width: 5vh;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardDate{
    font-size: 12pt;
    margin-bottom: 10px;
    text-align: left;
    color: gray;
}

.nuovaPerizia{
    width: 90vw;
    margin-left: 5vw;
    height: 50px;
    margin-top: 40px;
    background: linear-gradient(96.1deg, rgba(0, 23, 54, 0.88) 2.94%, rgba(4, 42, 92, 0.88) 95.89%);
    text-align: center;
    line-height: 50px;
    font-size: 13pt;
    border-radius: 5px;
}

.logout{
    width: 90vw;
    margin-left: 5vw;
    height: 50px;
    margin-top: 40px;
    background: linear-gradient(96.1deg, rgba(0, 23, 54, 0.88) 2.94%, rgba(4, 42, 92, 0.88) 95.89%);
    text-align: center;
    line-height: 50px;
    font-size: 13pt;
    border-radius: 5px;
}

.topbar{
    width: 100vw;
    height: 60px;
    background: linear-gradient(96.1deg, rgba(0, 23, 54, 1) 2.94%, rgba(4, 42, 92, 1) 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.topbar .logo{
    line-height: 60px;
    text-align: center;
    font-size: 15pt;
    color: white;
    font-weight: 300;
}

.content-wrapper {
    position: absolute;
    padding:0;
    top: 65px;
    left: 0;
    right: 0;
    bottom:0;
    background: #CCC;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.pagetitle{
    text-align: center;
    font-size: 17pt;
    color: black;
    font-weight: 300;
    margin-left: 5%;
    margin-top: 10px;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-left: 5%;
    width: 90%;
    background-color: #fff;
    text-align: left;
    height: 30px;
    color: black;
    outline: 0;
}

.line :nth-child(1){
    margin-left: 5%;
    height: 50px;
    width: 40%;
    background-color: white;
    text-align: center;
    color: rgba(0, 23, 54, 1);
    border: 2px solid rgba(0, 23, 54, 1);
    border-radius: 5px;
    line-height: 50px;
    font-size: 14pt;
}

.line :nth-child(2){
    height: 50px;
    width: 40%;
    background-color: rgba(0, 23, 54, 1);
    text-align: center;
    color: white;
    border: 2px solid rgba(0, 23, 54, 1);
    border-radius: 5px;
    line-height: 50px;
    font-size: 14pt;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* @media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
} */
