*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    text-align: center;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    background-color: #fff;
    text-align: left;
    height: 50px;
    color: black;
    outline: 0;
}

.err{
    color: red;
    font-size: 13pt;
    margin-top: 10px;
    display: none;
}

.input{
    margin-top: 50px;
    width: 100%;
}

.title{
    color: rgba(0, 23, 54, 1);
    font-size: 25pt;
}

.button{
    margin-top: 30px;
    background: linear-gradient(96.1deg, rgba(0, 23, 54, 1) 2.94%, rgba(4, 42, 92, 1) 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15pt;
    text-align: center;
    height: 50px;
    width: 80%;
    line-height: 50px;
}


.hidden{
    display: none !important;
}

/* Load gif */
.load{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000000;
    background-color: #FFF;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes ldio-is7ssl39t6-1 {
    0% { top: 36px; height: 128px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes ldio-is7ssl39t6-2 {
    0% { top: 41.99999999999999px; height: 116.00000000000001px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes ldio-is7ssl39t6-3 {
    0% { top: 48px; height: 104px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  .ldio-is7ssl39t6 div { position: absolute; width: 30px }.ldio-is7ssl39t6 div:nth-child(1) {
    left: 35px;
    background: #292664;
    animation: ldio-is7ssl39t6-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
  }
  .ldio-is7ssl39t6 div:nth-child(2) {
    left: 85px;
    background: #667395;
    animation: ldio-is7ssl39t6-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
  }
  .ldio-is7ssl39t6 div:nth-child(3) {
    left: 135px;
    background: #94a9ce;
    animation: ldio-is7ssl39t6-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
  }
  
  .loadingio-spinner-pulse-j2rx94pzpek {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-is7ssl39t6 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-is7ssl39t6 div { box-sizing: content-box; }